<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static',filename='style.css') }}">
        {% if title%}
        <title>Instance is Hibernating</title>
        {% endif %}

    </head>
    <nav>
        <a href="/">Home</a>
        <a href="/chart1">Chart 1</a>
        <a href="{{ url_for('chart2') }}">Chart 2</a>
    </nav>
    <body class="home">
       <h1 class="title">Sorry... Instance is Hibernating</h1>
      
        <h2>Please contact me to wake up instance</h2>
        <br>
        <a href = "mailto:carladay44@gmail.com">Email Me</a>


    </body>
</html>
